@charset "utf-8";

.dep-entry-container {
  padding-top: 10px;
  padding-left: 10px;
}

.dep-entry-container .button-area {
  width: auto;
  height: auto;
  margin: 0 0 10px 0;
  text-align: left;
}

.dep-entry-container .dep-entry-area {
  width: auto;
  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: repeat(2, 40px);
}

.dep-entry-container .dep-entry-area .title-cell {
  padding-top: 4px;
  font-family: sans-serif;
  font-size: 11px;
}

.dep-entry-container .dep-entry-area .text-base {
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 11px;
  height: 20px;
  border: 1px solid #000;
}

.dep-entry-container .dep-entry-area .code {
  width: 40px;
  background-color: #fee;
}

.dep-entry-container .dep-entry-area .name {
  width: 270px;
  background-color: #fee;
}
