@charset "utf-8";

.dep-upd-container {
  width: 500px;
  height: 220px;
  background-color: #fff;
}

.dep-upd-container .header-area {
  height: 30px;
  width: auto;
  background-color: #c9e9f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dep-upd-container .header-area .header-title {
  width: 50%;
  height:30px;
  background-color: #c9e9f1;
  color: #00f;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 0 0 5px;
}
