@charset "utf-8";

.div-index-background {
  height: inherit;
  max-width: inherit;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-index-container {
  border: 0.5px solid #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 42px - 40px);
  width: 800px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

.div-index-container .header-area {
  height: 30px;
  width: auto;
  background-color: #c9e9f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-index-container .header-area .header-title {
  width: 50%;
  height:30px;
  background-color: #c9e9f1;
  color: #00f;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 0 0 5px;
}

.div-index-container .table-frame {
  margin-left: 20px;
  width: 670px;
  height: auto;
  max-height:400px;
  overflow-y: auto;
}

.div-index-container .table-hd {
  width: 670px;
  margin-top: 20px;
  margin-left: 20px;
}

.div-index-container .table-bd {
  width: 670px;
}

.div-index-container .head-tr{
  height: 20px;
}

.div-index-container .body-tr {
  height: 30px;
}

.div-index-container .table-hd th,
.div-index-container .table-bd td {
  border: 0.5px solid #000;
}

.div-index-container .head-td {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #c9e9f1;
  border-collapse:collapse;
}

.div-index-container .dep-td,
.div-index-container .div-td {
  width: 250px;
}

.div-index-container .dep-code-td,
.div-index-container .div-code-td {
  padding: 0;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.div-index-container .dep-name-td,
.div-index-container .div-name-td {
  padding: 0px 0px 0px 5px;
  width: 200px;
  vertical-align: middle;
}

.div-index-container .div-auth-td {
  padding: 0;
  width: 70px;
  vertical-align: middle;
  text-align: center;
}

.div-index-container .button-td {
  padding: 0px 0px 0px 0px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.div-index-container .button-area {
  width: 600px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}
