@charset "utf-8";

.emp-entry-container {
  padding-top: 10px;
  padding-left: 10px;
}

.emp-entry-container .button-area {
  width: auto;
  height: auto;
  margin: 0 0 10px 0;
  text-align: left;
}

.emp-entry-container .emp-entry-area {
  width: auto;
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: repeat(8, 40px);
  font-family: sans-serif;
  font-size: 11px;
}

.emp-entry-container .emp-entry-area .title-cell {
  padding-top: 4px;
}

.emp-entry-container .emp-entry-area .text-base {
  padding-left: 5px;
  height: 20px;
  border: 1px solid #000;
}

.emp-entry-container .emp-entry-area .number {
  width: 40px;
  background-color: #fee;
}

.emp-entry-container .emp-entry-area .name {
  width: 140px;
  background-color: #fee;
}

.emp-entry-container .emp-entry-area .name2 {
  width: 140px;
}

.emp-entry-container .emp-entry-area .address {
  width: 500px;
}

.emp-entry-container .emp-entry-area .phone {
  width: 140px;
}

.emp-entry-container .emp-entry-area .date-container,
.emp-entry-container .emp-entry-area .date-field {
  width: 120px;
}

.emp-entry-container .emp-entry-area .division_id {
  height: 20px;
}
