@charset "utf-8";

.daily-show-container {
  height: calc(100vh - 300px);
  width: auto;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

.daily-show-container .daily-date {
  margin-bottom: 10px;
}

.daily-show-container .section-frame {
  width: 650px;
  margin-left: 0;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px; /* def-style解除：丸角なし */
  padding: 5px 0px 20px 5px;
}

.daily-show-container .display-row {
  display: flex;
  margin: 10px 0px 0px 10px;
}

.daily-show-container .title {
  padding-top: 2px;
  width: 80px;
}

.daily-show-container .kbn {
  width: 100px;
  padding-top: 2px;
}

.daily-show-container .time {
  text-align: left;
  width: 100px;
  padding-top: 2px;
}


.daily-show-container .reason {
  width: 350px;
  padding-top: 2px;
}
