@charset "utf-8";

.emp-select-background {
  height: inherit;
  max-width: inherit;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emp-select-container {
  border: 0.5px solid #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 42px - 10px);
  width: 600px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

.emp-select-container .header-title {
  width: calc(100% - 20px);
  height:25px;
  margin: 10px 10px 0px 10px;
  border-left: 10px solid #08f;
  border-bottom: 1px solid #08f;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 5px;
}

.emp-select-container .search-area {
  height: 30px;
  width: calc(100% - 40px);
  margin: 20px;
  display: flex;
}

.emp-select-container .select-division {
  height: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.emp-select-container .emps-table-hd,
.emp-select-container .emps-table-frame,
.emp-select-container .emps-table {
  width: 450px;
}

.emps-table-hd {
  margin-left: 20px;
}

.emp-select-container .emps-table-frame,
.emp-select-container .emps-table {
  margin-top: -0.5px;
}

.emp-select-container .emps-table-frame {
  margin-left: 20px;
  border: 0.5px solid #000;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
  overflow-x: hidden;
}


.emp-select-container .emps-table .header-tr,
.emp-select-container .emps-table .body-tr {
    height: 25px;
}

.emp-select-container .emps-table-hd td {
  border: 0.5px solid #000;
}

.emp-select-container .emps-table td {
  border: none;
  border-top: 0.5px solid #000;
  border-right: 0.5px solid #000;
}

.emp-select-container .header-td {
  background-color: #c9e9f1;
  font-weight: bold;
  text-align: center;
}

.emp-select-container .div-name-td {
  width: 200px;
  padding-left: 5px;
}

.emp-select-container .number-td {
  width: 60px;
  text-align: center;
}

.emp-select-container .name-td {
  width: 140px;
  padding-left: 5px;
}

.emp-select-container .link-td {
  width: 50px;
  text-align: center;
}
