@charset "utf-8";

.log-edit-container {
  width: 550px;
  height: 350px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

.log-edit-container .header-area {
  height: 30px;
  width: auto;
  background-color: #c9e9f1;
}

.log-edit-container .header-area .header-title {
  width: 50%;
  height:30px;
  background-color: #c9e9f1;
  color: #00f;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 0 0 5px;
}

.log-edit-container .button-area {
  width: auto;
  height: auto;
  margin: 10px 0 0 10px;
  text-align: left;
}

.log-edit-container .log-entry-area {
  padding-top: 20px;
  padding-left: 10px;
  width: auto;
  display: grid;
  grid-template-columns: 70px 300px;
  grid-template-rows: 40px 40px 100px;
}

.log-edit-container .log-entry-area .title-cell {
  padding-top: 4px;
}

.log-edit-container .log-entry-area .date-field {
  width: 120px;
  padding-left: 5px;
  height: 20px;
  border: 1px solid #000;
}

.log-edit-container .log-entry-area .contents {
  resize: none;
  height: 90px;
  width: 300px;
  border: 1px solid #000;
  overflow: hidden;
  padding: 2px 2px 2px 5px;
}
