@charset "utf-8";

.prj-log-container {
  margin-left: -24px;
  margin-bottom: -19px;
  height: calc(100vh - 42px - 10px - 73px);
  width: 630px;
  font-family: sans-serif;
  font-size: 11px;
}

.prj-log-container .log-table-hd,
.prj-log-container .log-table {
  width: 620px;
}

.prj-log-container .log-table-hd {
  margin: 0px 5px 0px 5px;
}

.prj-log-container .header-tr {
  height: 25px;
}

.prj-log-container .body-tr {
  height: 30px;
}

.prj-log-container .log-table-hd td {
  border: 0.5px solid #000;
}

.prj-log-container .log-table td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  padding-left: 2px;
}

.prj-log-container .change-date-td-hd,
.prj-log-container .changer-name-td-hd,
.prj-log-container .contents-td-hd {
  background-color: #c9e9f1;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}

.prj-log-container .change-date-td-hd,
.prj-log-container .change-date-td {
  width: 110px;
}

.prj-log-container .changer-name-td-hd,
.prj-log-container .changer-name-td {
  width: 110px;
}

.prj-log-container .contents-td-hd,
.prj-log-container .contents-td {
  width: 400px;
}

.prj-log-container .table-frame {
  border: 0.5px solid #000;
  width: 620px;
  margin: 0px 5px 0px 5px;
  max-height: calc(100vh - 42px - 10px - 73px - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}

.prj-log-container .table-frame2 {
  border: 0.5px solid #000;
  width: 620px;
  margin: 0px 5px 0px 5px;
  max-height: calc(100vh - 42px - 10px - 73px -20px);
  overflow-y: auto;
  overflow-x: hidden;
}
