@charset "utf-8";

.audit-show-container {
  margin-left: -24px;
  margin-bottom: -19px;
  height: calc(100vh - 42px - 10px - 73px);
  width: 630px;
  font-family: sans-serif;
  font-size: 11px;
}

.audit-show-container .audit-table-hd,
.audit-show-container .audit-table {
  width: 620px;
}

.audit-show-container .audit-table-hd {
  margin: 0px 5px 0px 5px;
}

.audit-show-container .header-tr {
  height: 25px;
}

.audit-show-container .body-tr {
  height: 30px;
  padding: 0;
}

.audit-show-container .audit-table-hd td {
  border: 0.5px solid #000;
}

.audit-show-container .audit-table td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  padding-left: 2px;
}

.audit-show-container .title-td-hd,
.audit-show-container .contents-td-hd,
.audit-show-container .audit-td-hd,
.audit-show-container .accept-td-hd {
  background-color: #c9e9f1;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}

.audit-show-container .title-td-hd {
  width: 120px;
}

.audit-show-container .title-td {
  width: 119.5px;
}

.audit-show-container .contents-td-hd,
.audit-show-container .contents-td {
  width: 220px;
}

.audit-show-container .audit-td-hd,
.audit-show-container .audit-td {
  width: 120px;
}

.audit-show-container .result-td {
  width: 40px;
  text-align: center;
}

.audit-show-container .accept-td-hd,
.audit-show-container .accept-td {
  width: 120px;
}

.audit-show-container .table-frame {
  border: 0.5px solid #000;
  width: 620px;
  margin: 0px 5px 0px 5px;
  max-height: calc(100vh - 42px - 10px - 73px - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}
